#almost-show #pBox {
  background: orange;
  border: 1px solid black;
  width: 200px;
  height: 600px;
  margin-top: 200px; }

#almost-show #cBox {
  position: absolute;
  width: 140px;
  height: 140px;
  background: yellow;
  border: 1px solid black;
  left: 5px;
  transition: top 0.3s ease-out; }
